.vscode/
.history/

# Kicad
*-backups/
*.kicad_prl
fp-info-cache
export/
.kiri/

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.lol
*.out
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.xdv
svg-inkscape/

*.afphoto
