.vscode/

# Kicad
*-save.pro
*-rescue.lib
*-rescue.dcm
*.bak
*.kicad_pcb-bak
*.sch-bak
*.gbr
*.drl
fp-info-cache
*-backups/
*.kicad_prl
export/

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.lol
*.out
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.xdv
svg-inkscape/

*.afphoto
